.TOOL_MENU
{ display: flex; position: fixed; left: 0pt; right: 0pt; bottom: 0pt; height: 20pt; }

.TOOL_MENU input[type='text']
{ flex-grow: 1; margin: 2pt 10pt; }

.TOOL_MENU input[type='button']
{ margin: 2pt; padding: 0pt; }

.TOOL_MENU input[type='checkbox']
{ margin: 2pt; width: 18pt;height: 18pt; }

.HEAD_SHOW,
.HEAD_HIDE
{ cursor: pointer; }

.BODY_HIDE
{ height: 0pt; padding: 0pt; overflow: hidden; }

.BODY_HIDE *
{ display: none ! important; }

h1,
h2,
h3,
h1+div,
h2+div,
h3+div,
.TOOL_MENU,
.TOOL_MENU *
{ border: #a0a0a0 solid 1pt; }

h1,
h2,
h3
{ border-bottom: none; }

h1+div,
h2+div,
h3+div
{ border-top: none; }

h1,
h2,
h3,
.TOOL_MENU *
{ background-color: #e9e9e9; }

h1:hover,
h2:hover,
h3:hover,
.TOOL_MENU,
.TOOL_MENU *:hover
{ background-image: linear-gradient(to top, #e9e9e9 0%, #ffffff 100%); }

h1+div,
h2+div,
h3+div
{ background-image: linear-gradient(to bottom, #e9e9e9 0%, #ffffff 100%); }

body
{ margin: 0pt; padding: 0pt 0pt 20pt 0pt; font-family: sans-serif; font-size: 10pt; }

a
{ font-family: monospace; }

a[href]
{ color: blue; text-decoration: inherit ! important; }

h1
{ margin: 0pt; padding: 0pt 0pt 0pt 10pt; font-size: 16pt; }

h1+div
{ margin: 0pt 0pt 4pt 0pt; padding: 8pt; }
 
h2
{ margin: 8pt 0pt 0pt 0pt; padding: 0.1em 0.5em; font-size: 12pt; border-top-left-radius: 1em; }

h2+div
{ margin: 0pt; padding: 8pt; }

h3
{ margin: 4pt 0pt 0pt 0pt; padding: 1pt 15pt 0pt 15pt; font-size: 10pt; text-indent: -1em; font-family: monospace; border-top-left-radius: 10pt; }

h3+div
{ margin: 0pt; padding: 4pt 8pt 8pt 16pt; }
 
.AT
{ font-style: italic; }

.ST
{ text-decoration: underline; }

.INFO_FLAT dl.VARS dt:before
{ content: '· Var '; }

.INFO_FLAT dl.PARAMS dt:before
{ content: '· Param '; }

.INFO_FLAT dl.RETURN dd:before
{ content: '· Returns: '; }

.INFO_FLAT dl.THROWS dt:before
{ content: '· Throws '; }

.INFO_FLAT dl.SEEALSO dt:before
{ content: '· See '; }

.INFO_FLAT dl.VARS,
.INFO_FLAT dl.PARAMS,
.INFO_FLAT dl.RETURN,
.INFO_FLAT dl.THROWS,
.INFO_FLAT dl.SEEALSO
{ margin: 2pt 0pt; }

.INFO_FLAT dl.VARS dt,
.INFO_FLAT dl.VARS dd,
.INFO_FLAT dl.PARAMS dt,
.INFO_FLAT dl.PARAMS dd,
.INFO_FLAT dl.RETURN dt,
.INFO_FLAT dl.RETURN dd,
.INFO_FLAT dl.THROWS dt,
.INFO_FLAT dl.THROWS dd,
.INFO_FLAT dl.SEEALSO dt,
.INFO_FLAT dl.SEEALSO dd
{ display: inline; margin: 0pt; }
  
.INFO_FLAT dl.VARS dt:after,
.INFO_FLAT dl.PARAMS dt:after,
.INFO_FLAT dl.RETURN dt:after,
.INFO_FLAT dl.THROWS dt:after,
.INFO_FLAT dl.SEEALSO dt:after
{ content: ':'; }

.INFO_TREE dl.VARS,
.INFO_TREE dl.PARAMS,
.INFO_TREE dl.RETURN,
.INFO_TREE dl.THROWS,
.INFO_TREE dl.SEEALSO
{ margin: 0.5em 0em; }

.INFO_TREE dl.VARS dt,
.INFO_TREE dl.PARAMS dt,
.INFO_TREE dl.RETURN dt,
.INFO_TREE dl.THROWS dt,
.INFO_TREE dl.SEEALSO dt
{ margin: 0em 0em 0em 1em;  }

.INFO_TREE dl.VARS dd,
.INFO_TREE dl.PARAMS dd,
.INFO_TREE dl.RETURN dd,
.INFO_TREE dl.THROWS dd,
.INFO_TREE dl.SEEALSO dd
{ margin: 0em 0em 0.25em 2em;  }

.INFO_TREE dl.VARS:before
{ content: 'vars:'; }

.INFO_TREE dl.PARAMS:before
{ content: 'params:'; }

.INFO_TREE dl.RETURN:before
{ content: 'returns:'; }

.INFO_TREE dl.THROWS:before
{ content: 'throws:'; }

.INFO_TREE dl.SEEALSO:before
{ content: 'see also:'; }

.INFO_TREE dl.VARS:before,
.INFO_TREE dl.PARAMS:before,
.INFO_TREE dl.RETURN:before,
.INFO_TREE dl.THROWS:before,
.INFO_TREE dl.SEEALSO:before
{ font-weight: bold; font-size: 7.5pt; }

.SIGN_HIDE dl.VARS,
.SIGN_HIDE dl.PARAMS,
.SIGN_HIDE dl.RETURN,
.SIGN_HIDE dl.THROWS,
.REFS_HIDE  dl.SEEALSO
{ display: none; }