
div.contentContainer > table > caption > span:not([class]) { content:'Pakete'; }

/*
table.packageSummary > caption > span:not([class]) { content:'Klassenübersicht'; }
table.packageSummary > tbody > tr:not([class]) > th.colFirst { content:'Klasse'; }
*/
table.packageSummary > tbody > tr:not([class]) > th.colLast { content:'Beschreibung'; }

a[name=nested_class_summary] + h3 { content:'Klassen\0000FCbersicht'; }
a[name=nested_class_summary] + h3 + table > caption > span:not([class]) { content:'Innere Klassen'; }
a[name=nested_class_summary] + h3 + table > tbody > tr:not([class]) > th.colFirst { content:'Modifikatoren und Typ'; }
a[name=nested_class_summary] + h3 + table > tbody > tr:not([class]) > th.colLast { content:'Klasse und Beschreibung'; }

a[name=field_summary] + h3 { content:'Feld\0000FCbersicht'; }
a[name=field_summary] + h3 + table > caption > span:not([class]) { content:'Felder'; }
a[name=field_summary] + h3 + table > tbody > tr:not([class]) > th.colFirst { content:'Modifikatoren und Typ'; }
a[name=field_summary] + h3 + table > tbody > tr:not([class]) > th.colLast { content:'Feld und Beschreibung'; }

a[name=method_summary] + h3 { content:'Methoden\0000FCbersicht'; }
a[name=method_summary] + h3 + table > caption > span:not([class]) { content:'Methoden'; }
a[name=method_summary] + h3 + table > tbody > tr:not([class]) > th.colFirst { content:'Modifikatoren und Typ'; }
a[name=method_summary] + h3 + table > tbody > tr:not([class]) > th.colLast { content:'Methode und Beschreibung'; }

a[name=constructor_summary] + h3 { content:'Konstrukteur\0000FCbersicht'; }
a[name=constructor_summary] + h3 + table > caption > span:not([class]) { content:'Konstrukteure'; }
a[name=constructor_summary] + h3 + table > tbody > tr:not([class]) > th.colOne { content:'Konstrukteur und Beschreibung'; }

a[name=field_detail] + h3 { content:'Feldbeschreibung'; }
a[name=method_detail] + h3 { content:'Methodenbeschreibung'; }
a[name=constructor_detail] + h3 { content:'Konstrukteurbeschreibung'; }
